# Data Strucutures in Python

In [1]:
L = [1,2,34,5,"soham ", 5+4j]

In [2]:
T = (1,2,34,5,"soham ",5+4j)

In [3]:
S = {1,2,34,5,"soham" ,5+4j}

In [4]:
D = {13 : "soham" , "piprotar":34 , 55 : "hello"}

In [5]:
print(type(L))

<class 'list'>

In [6]:
print(type(T))
print(type(S))
print(type(D))

<class 'tuple'>
<class 'set'>
<class 'dict'>

In [8]:
# to acess the element from list though the iteration : 
for i in range(0,len(L)):
    print(L[i])
    
print("Iteration completed : ")

1
2
34
5
soham
(5+4j)
Iteration completed :

In [9]:
L[1:3]

[2, 34]

In [10]:
L[::-1]

[(5+4j), 'soham ', 5, 34, 2, 1]

In [11]:
# TUPLE AND LIST ARE SAME IN SLAICING BUT TUPLE IS IMUTABLE : 
# by example : 
T1 = T1 +(2,3)

NameError: name 'T1' is not defined

In [16]:
L = L + ["new_ele"]
del L[-1]
del L[-1]
del L[-1]

In [18]:
L[3] = "Piprotar"

In [19]:
L

[1, 2, 34, 'Piprotar', 'soham ']

In [20]:
l = L.copy()

In [21]:
l

[1, 2, 34, 'Piprotar', 'soham ']

In [22]:
del L

In [23]:
T2 = (2,3)
T+T2

(1, 2, 34, 5, 'soham ', (5+4j), 2, 3)

In [24]:
del T2

In [29]:
S.add("soham")

In [33]:
S.remove("soham")

In [34]:
S

{(5+4j), 1, 2, 34, 5, 'a', 'h', 'i', 'm', 'o', 'p', 'r', 's', 't'}

In [35]:
del S

In [36]:
D["soham"] = "20 years "

In [37]:
D

{13: 'soham', 'piprotar': 34, 55: 'hello', 'soham': '20 years '}

In [38]:
D["soham"]

'20 years '

In [40]:
del D["piprotar"]

In [41]:
D

{13: 'soham', 55: 'hello', 'soham': '20 years '}

In [42]:
D2 = D.copy()

In [43]:
D2

{13: 'soham', 55: 'hello', 'soham': '20 years '}

In [44]:
del D2

In [45]:
%whos

Variable   Type     Data/Info
-----------------------------
D          dict     n=3
T          tuple    n=6
i          int      5
l          list     n=5

In [46]:
del D , T, i, l

In [47]:
_

{13: 'soham', 55: 'hello', 'soham': '20 years '}

###  INSETION AND DELETION IN LIST , TUPLE , SET , DESCTIONARYY

In [48]:
L = [1,2,3,"soham","hello"]

In [50]:
L[4] = "piprotar"

In [51]:
L.append(23.32)

In [52]:
T = (1,234,42,4)

In [53]:
T2 = T + (1,3,2,2)

In [54]:
S = {1,2,34,24,3}

In [55]:
S.update({34,"game,1"})

In [56]:
S

{1, 2, 24, 3, 34, 'game,1'}

In [57]:
D = {13: 'soham', 55: 'hello', 'soham': '20 years '}

In [58]:
D2 = {"hello" : 23 , "ohter":34}

In [59]:
%whos

Variable   Type     Data/Info
-----------------------------
D          dict     n=3
D2         dict     n=2
L          list     n=6
S          set      {1, 2, 3, 34, 24, 'game,1'}
T          tuple    n=4
T2         tuple    n=8

In [60]:
del D , D2 , L , S, T , T2

In [61]:
_

{1, 2, 24, 3, 34, 'game,1'}

In [62]:
# can we concatinate dictionary with '+'
# no , but hint is : dictionary is type of set

In [64]:
L = [1,23 ,3]

In [72]:
L2 = L.copy()

In [73]:
L2[2] = "hi NEW ELE THER "

In [74]:
L2

[1, 23, 'hi NEW ELE THER ']

In [75]:
L

[1, 23, 3]

In [76]:
# press tab after data_structure_nmae.(then press tab key) you have all the method 
# then ask ?? you get info regarding that function so that you can learn this

In [77]:
# a list can conatin another list , a tuple can contain list so this strucure is abstract on each other

In [78]:
L = [1 ,2,3 , (2,32,23,1),{1,23,3},{13: 'soham', 55: 'hello', 'soham': '20 years '}]

In [79]:
L[3][3]

1

In [83]:
L[5][13]

'soham'

### Problem solving using these data structures

In [84]:
%whos

Variable   Type    Data/Info
----------------------------
L          list    n=6
L2         list    n=3

In [85]:
del L , L2

In [ ]:
database = []

def generation_of_database():
    num = int(input("Enter the number of students whose data you want to enter: "))
    
    while num > 0:
        student_data = {}
        
        student_id = int(input("Enter the student ID number: "))
        student_data['ID'] = student_id
        
        sub_num = int(input("Enter the number of subjects: "))
        subjects = {}
        
        while sub_num > 0:
            sub_name = input("Enter the name of the subject: ")
            sub_mark = float(input("Enter the marks of the subject: "))
            subjects[sub_name] = sub_mark
            sub_num -= 1
        
        student_data['subjects'] = subjects
        database.append(student_data)
        
        num -= 1

# Call the function to generate the database
generation_of_database()

# Print the generated database
print(database)

In [ ]:
generation_of_database()

In [97]:
%whos

Variable                 Type        Data/Info
----------------------------------------------
database                 list        n=0
generation_of_database   function    <function generation_of_d<...>se at 0x000001F62CC0AF20>

In [99]:
del database ,generation_of_database