### Lists

In [1]:
# declaring the list ; 
a = [1, 2,3, 4, "soham "]
a.append("i am ")
print(a)

[1, 2, 3, 4, 'soham ', 'i am ']

In [5]:
#acessing the element 
print(a[1])

2

In [6]:
#slicing the list 
print(a[1:3])         # this return the slice but can't delete from main list

[2, 3]

In [7]:
a

[1, 2, 3, 4, 'soham ', 'i am ']

In [8]:
#modifing the list 
a[0] = "you are a "

In [10]:
print(a)
del a[0]   # this instruction delete the first unwanted element

['you are a ', 2, 3, 4, 'soham ', 'i am ']

In [20]:
aa = a[1:2]

In [21]:
aaa = a+aa
print(aaa)

[2, 3, 4, 'soham ', 'i am ', 3]

In [24]:
#list comparisions ;
aaaa = [1 ,2 ,3, 4 , 5]
squre = [ x**2 for x in range(1,6)]
print(squre)

[1, 4, 9, 16, 25]

In [25]:
# tuples and string have a same fucntion as list so just practice it in your free time