# Funtion module

In [4]:
# Function compelete the  requre task when you call it 
def printsuccess():       # when you call this , this fucntioon will be registered in python symbol table .
    print("The task was successful ")
    print("mocing to the next task ")
    print("send me the next task")

In [5]:
printsuccess();

The task was successful
mocing to the next task
send me the next task

In [3]:
def add(a,b):
    """ this function is return the sum of two number """
    return a+b

In [4]:
add(3,5)

8

In [6]:
add?

In [8]:
help(add)

Help on function add in module __main__:

add(a, b)
    this function is return the sum of two number

### input argument in function

#give the argument in the fucntion 

def Print(msg):
    if isinstance(msg,str):

        print(msg)
    else:
        print("Invalide input : ")

In [ ]:
Print??

In [15]:
Print(3424)

Invalide input :

In [16]:
Print(" Soham Piprotar")

 Soham Piprotar

In [20]:
# order of input for funtion is inportant and it's Directly goes to the value ; 
add(b=2,a=1)

3

### You can also define the variable inside of the function

In [21]:
def add2(a,b):
    c = a+b 
    return c

In [22]:
add2(490,490)

980

### Number of many input Argument

In [23]:
def add(*args):      # this acts like array or list in python 
    sum = 0 
    for i in range(len(args)):
        sum += args[i]
    return sum

In [26]:
a = [3 ,4 ,5 , 3,5 ,3 ]
add(4,5,4,5,6,6)

30

In [31]:
def f(**c):            #this is just feel like to asses teh discnary in python 
    for x in c :
        print(x , c[x])

In [32]:
f(apple = 45,banana=33,mango=43)     # this is just like a discnary in python

apple 45
banana 33
mango 43

### default value of function

In [33]:
def b(sum = 0):     # the argument have a default value and it's only have inexistance when you don't pass teh value 
    return sum

In [34]:
b(5)

5