### Else if ladder practice

In [19]:
# single line comment 
"""
user will enter a floating number.your task is to find 
out the integer portion befor point and give the number 
is even or odd . 

"""

user_num = float(input("Enter the float number : "))

user_num_string = str(user_num)

num_before_point = ''

for i in user_num_string : 
    if i == '.':
        break
    num_before_point += i
    
print(num_before_point)
if (int(num_before_point) % 2 == 0):
    print("The number is even  : ")
else : 
    print("The nubmer is odd : ")

Enter the float number : 29479874.42347
29479874
The number is even  :

In [28]:
# ussing if eles ladder 

user_num = float(input(" Enter the number : "))
rm_after_point = round(user_num)
if user_num >0 : 
    if rm_after_point > user_num : 
        intPortion = rm_after_point -1  


    else : 
        intPortion = rm_after_point 
if user_num < 0 : 
    
    if rm_after_point > user_num : 
        intPortion = rm_after_point   


    else: 
        intPortion = rm_after_point -1  
print(intPortion)

if intPortion %2 == 0 : 
    print("The number is even : ")
else : 
    print("The number is odd : ")

 Enter the number : -234242.24342134
-234242
The number is even :

## Loops

In [29]:
# print number  ; 

user_num = int(input("Enter the number of iteraion : "))

i = 1 

while i <= user_num : 
    
    print(i)
    i += 1 

print("That's how while loop works ")

Enter the number of iteraion : 5
1
2
3
4
5
That's how while loop works

In [30]:
del user_num

In [31]:
%who

f	 i	 intPortion	 rm_after_point

In [36]:
del    rm_after_point

In [37]:
%who

f

In [38]:
_

''

In [39]:
# uderstading of pass statement 
# print only even number 

user_num = int (input("Enter the number : "))

i = 0 

while i <= user_num :
    if i % 2 ==0 :
        print(i)
    else : 
        pass 
    i += 1

Enter the number : 5
0
2
4

In [40]:
del user_num , i

In [41]:
# uderstanding off continue and break statemate : 

user_num = int(input("Enter the nnumber : "))

i = 1 

while i <= user_num : 
    
    if i%2 == 0 :
           print(i)
    elif i == 5 : 
           continue 
    elif i == 10 :
           break
    i += 1

Enter the nnumber : 5
2
4

KeyboardInterrupt:

### Uderstanding of For loop

In [42]:
del i ,user_num

In [43]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [44]:
%whos

Variable   Type        Data/Info
--------------------------------
f          function    <function f at 0x000001D98995E160>
i          int         8

In [45]:
del i

In [ ]:
# make a list and put sequre of all elemnet number which enter by user 

user_num = int(input("Enter the number : "))

ele_list = []

for i in range(1,user_num+1):
    ele = i**2 
    ele_list.append(ele)

print(ele_list)

print("IT's easy : ")

In [46]:
%whos

Variable   Type        Data/Info
--------------------------------
f          function    <function f at 0x000001D98995E160>

In [47]:
# eles with for loop 

for i in range(0,2):
    if i == 1 : 
        print(i)
else :
    print("loop compete it's iteration :  ")

1
loop compete it's iteration :

In [48]:
# use break in for else loop 
# else is oonly trggger when loop complete all it's teration : 

for i in range(0,20,4):
    if i == 16 :
        break 
        
    print(i)
else : 
    print("the iteration was complete ")

0
4
8
12

In [49]:
# iterats over disctionary : 
D = { " apple " : 11 , "banana ":42}

for i in D : 
    print(i,D[i])

 apple  11
banana  42

#### Practice : Sorting Problem :

In [50]:
%whos

Variable   Type        Data/Info
--------------------------------
D          dict        n=2
f          function    <function f at 0x000001D98995E160>
i          str         banana

In [51]:

"""
time complexity : O(n^2)
space complexity : O(1)
selection sort ::: 

"""
user_ele = []

def l_sort(l):
    for i in range(0,len(l)) : 
        for j in range(i+1,len(l)):
            if l[i] > l[j] : 
                temp = l[i]
                l[i] = l[j]
                l[j] = temp
        
    return l  
    
ele = int(input("Enter the number of element in Your  list  : "))

while ele > 0 : 
    user_in = int(input("Enter the element : "))
    user_ele.append(user_in)
    ele -= 1

ans_list = l_sort(user_ele)

print(ans_list)
print("Thanks")

Enter the number of element in Your  list  : 4
Enter the element : 23
Enter the element : 23
Enter the element : 12
Enter the element : 12
[12, 12, 23, 23]
Thanks

## Function in Python

In [52]:
def add(a,b):
    """this function is  add two number 
    """
    return a+b

In [53]:
add??

In [54]:
add(5,3)

8

In [55]:
help(add)  # this returns the document string inside the function

Help on function add in module __main__:

add(a, b)
    this function is  add two number

In [56]:
def printM(msg):
    """THIS FUNCTION CHACK THE MSG AND RETURN IF IT'S IN STRING 
    """
    if isinstance(msg,str):
        print(msg)
    else : 
        print("your message is not a string ")

In [57]:
a = "hello"
printM(a)
printM(10)

hello
your message is not a string

In [58]:
printM?

In [59]:
def f(a,b,c):
    print( "a is  : ",a)
    print( "b is  : ",b)
    print( "c is  : ",c)

In [21]:
%whos

Variable           Type        Data/Info
----------------------------------------
a                  str         hello
add                function    <function add at 0x000001D98995FCE0>
f                  function    <function f at 0x000001D98995E160>
i                  str         .
num_before_point   str         29479874
printM             function    <function printM at 0x000001D98995EF20>
user_num           float       29479874.42347
user_num_string    str         29479874.42347

In [63]:
del D , ans_list , ele ,l_sort , user_ele , user_in

In [64]:
%whos

Variable   Type        Data/Info
--------------------------------
f          function    <function f at 0x000001D988923240>

In [65]:
f(5, 6, 7 )

a is  :  5
b is  :  6
c is  :  7

In [66]:
# IF YOU DIRECT SEND INPUT ARGUMENT IS ORDER DEFFINE THE VARIABLE 
f ( b=5, a = 4, c = 6)

a is  :  4
b is  :  5
c is  :  6

In [67]:
_

8

In [68]:
%whos

Variable   Type        Data/Info
--------------------------------
f          function    <function f at 0x000001D988923240>

In [69]:
def add(*l):
    sum = 0 
    for i in range(len(l)):
        sum += l[i]
    return sum

In [70]:
add(3,4,2,4,2,2)

17

In [73]:
print(_)
%whos

17
Variable   Type        Data/Info
--------------------------------
add        function    <function add at 0x000001D9889209A0>
f          function    <function f at 0x000001D988923240>

In [74]:
# infinite argument support but we want there controll 
def mAwC(**d):
    for i in d : 
        print (i,d[i])

In [78]:
mAwC(a = "banana" , b=7 )

a banana
b 7

In [87]:
def add2 (a=0 ,b = 1):
    """ This function have default values 
    """
    return a+b

In [84]:
add2(5,5)

10

In [85]:
add2()

1

In [89]:
add2?

In [91]:
# def add3(*l=[1,2,3,4]):   # argument value can't be a default value 
#     sum = 0 
#     for i in l :
#         sum += i
#     return sum

SyntaxError: var-positional argument cannot have default value (9338042.py, line 1)

In [92]:
%whos

Variable   Type        Data/Info
--------------------------------
add        function    <function add at 0x000001D9889209A0>
add2       function    <function add2 at 0x000001D989A35120>
f          function    <function f at 0x000001D988923240>
mAwC       function    <function mAwC at 0x000001D98995F100>

## Module in Python

In [93]:
%whos

Variable   Type        Data/Info
--------------------------------
add        function    <function add at 0x000001D9889209A0>
add2       function    <function add2 at 0x000001D989A35120>
f          function    <function f at 0x000001D988923240>
mAwC       function    <function mAwC at 0x000001D98995F100>

In [94]:
del add , add2 , f , mAwC

In [1]:
import sys

In [2]:
%whos

Variable   Type      Data/Info
------------------------------
sys        module    <module 'sys' (built-in)>

In [27]:
sys.path.append("D:\SOHAM PIPROTAR")

In [50]:
import name1  as f

In [53]:
f??

In [55]:
# f.my_function(1,2,3)

### Problem using Function

In [63]:
"""
input the list , minimum value and it's index in the list 

"""

def input_list():
    b = []
    a = int(input("Enter the number of element you want to store : "))
    while a > 0 : 
        
        ele = float(input("Enter the Element : "))
        b.append(ele)
        a -= 1 
    
    return b 

def minimum_index(l):
    
    min = sys.float_info.max
    
    count = 0
    index = 0 
    
    while count < len(l):
        if min > l[count]:
            min = l[count]
            index = count
        count += 1 
        
    return (min , index)

user_data = input_list()
print(user_data)
ans = minimum_index(user_data)
print(ans)

Enter the number of element you want to store : 5
Enter the Element : 4
Enter the Element : 32
Enter the Element : 22
Enter the Element : 3
Enter the Element : 2
[4.0, 32.0, 22.0, 3.0, 2.0]
(2.0, 4)

In [64]:
"""
write the function that swaps the values in given list 
"""
def swa_data(l , data1 , data2 ):
    temp = l[data1]
    l[data1] = l[data2]
    l[data2] = temp
    return l

In [67]:
ans2 = swa_data(user_data , 1, 2)
print(ans2)

[4.0, 22.0, 32.0, 3.0, 2.0]

In [74]:
def sort_list(l):
    for i in range(0,len(l)):
        for j in range(i+1 , len(l)):
            if not(isinstance(l[i],(float,int))):
                return "this list contain non -numeric values "
            if l[i] > l [j] : 
                temp = l[i]
                l[i] = l[j]
                l[j] = temp 
        
    return l

In [75]:
ans3 = sort_list(user_data)
print(ans3)

[2.0, 3.0, 4.0, 22.0, 32.0]

In [76]:
def if_numeric(l):
    for i in l : 
        if not(isinstance(i,(int , float))):
            return False 
        
    return True

### String in Python

In [77]:
%whos

Variable        Type        Data/Info
-------------------------------------
ans             tuple       n=2
ans2            list        n=5
ans3            list        n=5
f               module      <module 'name1' from 'D:\<...>OHAM PIPROTAR\\name1.py'>
if_numeric      function    <function if_numeric at 0x000002401152A0C0>
input_list      function    <function input_list at 0x0000024012BA6CA0>
minimum_index   function    <function minimum_index at 0x0000024012BA4FE0>
name1           module      <module 'name1' from 'D:\<...>OHAM PIPROTAR\\name1.py'>
sort_list       function    <function sort_list at 0x0000024013355300>
swa_data        function    <function swa_data at 0x0000024012BA56C0>
sys             module      <module 'sys' (built-in)>
user_data       list        n=5

In [78]:
del ans , ans2 ,ans3, f , if_numeric , input_list , minimum_index , name1, sort_list , swa_data , sys , user_data

In [79]:
s = "Soham Piprotar"
print(s)
type(s)

Soham Piprotar

str

In [81]:
#concatination of data  --> simply addition 
v = "i am "
print(v+s+"  ")

i am Soham Piprotar

In [82]:
#multiline string 
hello = """this is a multi - 
   line string 
"""
print(hello)

this is a multi -
   line string

In [83]:
%whos

Variable   Type    Data/Info
----------------------------
hello      str     this is a multi - \n   line string \n
s          str     Soham Piprotar
v          str     i am

In [84]:
del hello ,s , v

In [88]:
s = "soham"
type(s[3])

str

In [89]:
s[0:3]

'soh'

In [90]:
s[-1]

'm'

In [91]:
s[-3]

'h'

In [93]:
s[-3:-1]

'ha'

In [97]:
s = " soham piprotar "

In [98]:
print(s)

 soham piprotar

In [99]:
a = s.strip() # no stapce at start and end 
a

'soham piprotar'

In [100]:
b = s.lower()
b

' soham piprotar '

In [101]:
c = s.upper()
c

' SOHAM PIPROTAR '

In [102]:
d = s.replace(' ', '_')

In [103]:
d

'_soham_piprotar_'

In [105]:
L = a.split(" ")   # split the element of the list with refrence of given element 
L

['soham', 'piprotar']

In [110]:
a.casefold??

In [111]:
"abc" in " abcdef"

True

In [112]:
"so" in a  # return true if this three is a part of given string

True

In [113]:
" " in a

True